@keyframes loader {
    0% {
        transform: scale(0, 0) rotate(0deg);
      }
    
      50% {
        transform: scale(2.5, 2.5) rotate(360deg);
      }
      100% {
        transform: scale(0, 0) rotate(0deg);
        

      }
  }
  
 
 #img {
    animation: loader 2.1s ease infinite;

 }